/*CardItem
Header
ItemHeader
ItemImg
Info
ItemFooter
'Option'
*/

.CardItem {
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ebd19a;
  border-radius: 5px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
  margin: 20px;
  flex-wrap: wrap;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  }
  
.ListGroup{
    width: 300px;
    display: flex;
align-items: center;
}

  .Header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  
  .CardHeader h3 {
    margin: 0;
  }
  
  .CardHeader {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .CardHeader img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  

  .ItemImg {
    max-width: 400px;
    max-height: 200px;
}


  .card-item-header h4 {
    margin: 0;
  }
  
  .Info {
    font-size: 16px;
  margin-bottom: 20px;
  }
  
  .ItemFooter {
    border-top: 1px solid #ddd;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
    justify-content: center;
  }
  
  .ItemFooter {
    display: flex;
    justify-content: center;
  }
  
  .Option {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff; 
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .option-btn:hover {
    background-color: #0069d9;
  }